.carousel-item {
    width: 70%;
    left: 15%;
    right:15%;
    max-height: 450px;
    
}

.carousel-inner{
    background-color: black;
}

.carousel-item:hover{
    outline: 5px solid #61dafb;
  
}

.carousel{
    margin-top: 50px;

}

.carousel-caption{
    background-color: white;
    color: #333;
}

.carousel-control-prev, .carousel-control-next{
    width: 50%;
}

.carousel-indicators{
    
    bottom: -10%;
}

.carousel-control-prev{
    background-color: black;
    top:50%;
    left:20%;
    width: 70px;
    height: 70px;

    padding: 20px;
}

.carousel-control-next{

        background-color: black;
        top:50%;
        right:20%;
        width: 70px;
        height: 70px;
    
        padding: 20px;
}

.carousel-indicators [data-bs-target].active{
    background-color: #61dafb;
}

.carousel-indicators [data-bs-target]{
    opacity: 1;
    background-color: black;
    width: 70px;
    height: 5px;
}